<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sysacad UTN FRA</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>

  <div class="header-container">
    <img src="{% static 'img/utn.png' %}" alt="Logo UTN Avellaneda" class="header-logo">
    <h2 class="header-title">
      Universidad Tecnológica Nacional<br>
      Facultad Regional Avellaneda
    </h2>
    <p class="header-subtitle">
      Sistema Académico SYSACAD<br>
      Módulo de autogestión alumnos
    </p>
  </div>

  <form method="POST">
    {% csrf_token %}
    <table class="form-table">
      <tr>
        <th colspan="2">Inicio de sesión</th>
      </tr>
      <tr>
        <td>Legajo:</td>
        <td><input type="text" name="username" size="15" placeholder="Legajo"></td>

      </tr>
      <tr>
        <td>Contraseña:</td>
        <td><input type="password" name="password" maxlength="12" placeholder="Contraseña"></td>

      </tr>
      <tr>
        <td colspan="2" style="text-align:center;">
          <input type="submit" class="botonlogin" name="loginbutton" value="Ingresar">
        </td>
      </tr>
    </table>
  </form>
  {% if form.errors %}
    <ul>
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>
