<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sysacad UTN FRA</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'webapp/css/webapp.css' %}">
</head>
<body>

  <div class="header-container">
    <img src="{% static 'img/logo.png' %}" alt="Logo UTN Avellaneda" class="header-logo">
    <h2 class="header-title">
      Universidad Tecnológica Nacional<br>
      Facultad Regional Avellaneda
    </h2>
    <p class="header-subtitle">
      Sistema Académico SYSACAD<br>
      Módulo de autogestión alumnos
    </p>
  </div>

  <form method="POST">
    {% csrf_token %}
    <table class="login-table">
      <tr>
        <th colspan="2">Inicio de sesión</th>
      </tr>
      <tr>
        <td>Legajo:</td>
        <td><input type="text" name="legajo" size="15"></td>
      </tr>
      <tr>
        <td>Contraseña:</td>
        <td>
          <input type="password" name="password" maxlength="12" 
                 title="Contraseña - solo letras y números" 
                 pattern="[0-9a-zA-Z!@#\$%\^\&amp;*_=+-]{0,12}">
        </td>
      </tr>
      <tr>
        <td colspan="2" style="text-align:center;">
          <input type="submit" class="botonlogin" name="loginbutton" value="Ingresar">
        </td>
      </tr>
    </table>
  </form>
<a href="{% url 'usuarios:nuevo' %}">Crear usuario</a>
</body>
</html>
